.application-fill           { fill: burlywood	; } /* have this color depend on pet */
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#feed #text{
  text-buffer: "FEED";
}

#play #text{
  text-buffer: "PLAY"
}

#petName #text{
  text-buffer: "PLAY"
  
}