.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#feed #text{
  text-buffer: "FEED";
}

#play #text{
  text-buffer: "PLAY"
}

#petName{
  text-length: 8
}