.application-fill           { fill: #0e2e10	; } /* have this color depend on pet */
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#feed #text{
  text-buffer: "FEED";
}

#play #text{
  text-buffer: "PLAY"
}

#petName{
  text-length: 8
}